# Target: ESP32-S3
CONFIG_IDF_TARGET="esp32s3"

# Flash: 16MB on T-Dongle-S3
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y

# Main task stack
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
